/*
  Copyright Gina White 2025

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */


html {
    box-sizing: border-box;
    font-size: 10px;
  }
  html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Bree Serif", Arial, sans-serif;
    background-color: #46057c;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
  }

  h1, h2 {
    margin: 0 0 2rem 0;
    padding: 2rem;
    font-weight: 700;
    text-align: center;
    white-space: pre-wrap;
    user-select: none;
  }
  h1 { font-size: 4rem; }
  h2 { font-size: 2.6rem; font-weight: 400; }

  form {
    display: flex;
    width: 100%;
    margin-bottom: 2rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  }

  input[type="text"] {
    width: 90%;
      font-size: 2.4rem;
    background: transparent;
    color: #eee;
      outline: 0;
      border: 0;
      transition: all ease-out 0.3s;
  }
  input[type="text"]:focus {
    color: #fff;
  }
  input[type="text"]::placeholder { color: rgba(255, 255, 255, 0.3); }

  #container {
    /* width: 40rem; */
    max-width: 90vw;
    margin: 10rem auto;
  }

  .pair{
      float:left;
      margin-right:20px;
      margin-bottom: 1.4rem;
      font-size: 1.6rem;
  }

  .paired{
      display:block;
  }

  .paired_result{
      display:block;
      font-size: 4rem;
      line-height: 2;
      color: rgba(255, 255, 255, 0.5);
  }

  .item{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-bottom: 1.4rem;
    font-size: 1.6rem;
  }

  .triangle {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
  }

  .grid_spacer {
      grid-column-start: 1;
      grid-column-end: 4;
      height: 6.0rem
  }

  #rpm {
      display: block;
      min-width: 3em;
      text-align: start;
  }

  #ipm {
      min-width: 2.5em;
      text-align: start;
  }

  #depth {
      min-width: 3.3em;
      text-align: end;
  }

  .note {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-bottom: 1.4rem;
    font-size: 1.6rem;
    color: rgba(255, 255, 255, 0.5);
  }

  p {
    font-size: 1.6rem;
  }

  .one_note {
      justify-content: left;
      font-size: 1.3rem;
      color: rgba(255, 255, 255, 0.5);
      padding: 1rem;
  }

  :link {
    color: #7c4605;
  }

  :visited {
    color: #767c05;
  }
  #notes {
      font-size: 1.3rem;
      display: flex;
      width: 100%;
  }

  #notes_line {
      justify-content: center;
      display: flex;
      width: 100%;
  }

  .item label {
      padding: 1rem 2rem;
      font-size: 4rem;
      line-height: 2;
      color: rgba(255, 255, 255, 0.5);
  }

  .item label b {
      color: rgba(255, 255, 255)
  }
